html {
  background-color: #000;
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  background-color: #081118;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

label {
  display: inline-block;
}

img {
  height: auto;
  width: 100%;
}

.para {
  font-size: 18px;
  color: #000;
}
