.john_chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 3%;
  @media only screen and (min-width: 768px)  {
    width: 60%;
  }
}

.horizontal-bar-chart-container {
  overflow: auto;
  visibility: hidden;
  @media only screen and (min-width: 768px)  {
    padding: 0 20%;
    visibility: visible;
  }
  &:after {
    background: url('/assets/images/horizontal-bar-chart_image.jpg') no-repeat center center/contain;
    content: "";
    display: block;
    visibility: visible;
    width: 90%;
    height: 450px;
    @media only screen and (min-width: 768px) {
      display: none;
      visibility: hidden;
      background: none;
    }
  }
  iframe {
    display: none;
    visibility: hidden;
    @media only screen and (min-width: 768px) {
      display: block;
      visibility: visible;
      height: 1080px;
    }
  }
}

.bar {
  fill: $vivid_red;
  :hover {
    fill: $orange;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: $light_grayish_blue;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path {
  display: none;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid $dark_magenta;
  padding: 14px;
  text-align: center;
}

.y-axis {
  font-size: 14px;
}
