.stories {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &:before {
    content: "mobile";
    display: none;
    @media only screen and (min-width: 768px) {
      content: "desktop";
    }
  }

  &[data-hijacking="on"] {
    @media only screen and (min-width: 768px) {
      overflow: hidden;
    }
  }
}

.parent {
  position: relative;
}
