.stories {
  background-color: $dark_desaturated_blue;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  overflow: auto;
  &:before {
    content: "mobile";
    display: none;
    @media only screen and (min-width: 768px) {
      content: "desktop";
    }
  }

  &[data-hijacking="on"] {
    @media only screen and (min-width: 768px) {
      overflow: hidden;
    }
  }
}
