.landing {
  background: url("/assets/images/0-hlatijhulu-landscape.jpg") no-repeat 0 0/cover;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  @media only screen and (min-width: 768px)  {
    height: 100vh;
  }
}
