.writing-section {
  background-color: #ffffff;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  @media only screen and (min-width: 768px)  {
    min-height: 100vh;
  }
}

.main-writing-section {
  background-color: #ffffff;
}

.content-wrapper {
  padding: 10% 30%;
  overflow: auto;
}

.singlePage {
  position: relative;
  color: #fff;
  &__inner {
    height: 100vh;
  }
  &__1 {
    min-height: 100vh;
    height: 100%;
  }
  &__2 {
    min-height: 100vh;
    height: 100%;
  }
  &__3 {
    min-height: 100vh;
    height: 100%;
  }
}
