.cd-section-lesotho {
  position: relative;
  @media only screen and (min-width: 768px)  {
    height: 100vh;
  }
  &__general {
    @media only screen and (min-width: 768px)  {
      height: 100vh;
    }
  }
  & > div {
    @media only screen and (min-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
  &:first-of-type > div::before {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}


// ON | OFF HIJACKING
[data-hijacking="off"] {
  .cd-section-lesotho > div {
    @media only screen and (min-width: 768px) {
      opacity: 0;
    }
  }
}

[data-hijacking="on"] {
  .cd-section-lesotho {
    @media only screen and (min-width: 768px) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    & > div {
      @media only screen and (min-width: 768px) {
        visibility: visible;
      }
    }
  }
}


//DATA ANIMATION
[data-animation="opacity"]  {
  .cd-section-lesotho.visible > div {
  }
  .cd-section-lesotho > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.cd-section-lesotho:first-of-type > div {
  background-image: url("/assets/images/1-moses-mug-pic.jpg");
}

.cd-section-lesotho:nth-of-type(2) > div {
  background-color: #2e5367;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(2) > div {
  background-image: url("/assets/images/2-moses-daughter.jpg");
}

.cd-section-lesotho:nth-of-type(3) > div {
  background-color: #fcb052;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(3) > div {
  background-image: url("/assets/images/3-moses-son.jpg");
}

.cd-section-lesotho:nth-of-type(4) > div {
  background-color: #fcb052;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(4) > div {
  background-image: url("/assets/images/4-moses-pot.jpg");
}

.cd-section-lesotho:nth-of-type(5) > div {
  background-color: #fcb052;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(5) > div {
  background-image: url("/assets/images/5-moses-boy.jpg");
}

.cd-section-lesotho:nth-of-type(6) > div {
  background-color: #f06a59;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(6) > div {
  background-image: url("/assets/images/6-moses-x-ray.jpg");
}

.cd-section-lesotho:nth-of-type(7) > div {
  background-image: url("/assets/images/7-lukhele-mug-pic.jpg");
}

.cd-section-lesotho:nth-of-type(8) > div {
  background-color: #f06a59;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(8) > div {
  background-image: url("/assets/images/8-lukhele-wife.jpg");
}

.cd-section-lesotho:nth-of-type(9) > div {
  background-color: #2e5367;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(9) > div {
  background-image: url("/assets/images/9-lukhele-washline-pic.jpg");
}

.cd-section-lesotho:nth-of-type(10) > div {
  background-image: url("/assets/images/10-lukhele-chickens-pic.jpg");
}

.cd-section-lesotho:nth-of-type(11) > div {
  background-color: #f06a59;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(11) > div {
  background-image: url("/assets/images/11-dlamini-mug-pic.jpg");
}

.cd-section-lesotho:nth-of-type(12) > div {
  background-color: #f06a59;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(12) > div {
  background-image: url("/assets/images/12-dlamini-wheelchair.jpg");
}

.cd-section-lesotho:nth-of-type(13) > div {
  background-color: #f06a59;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(13) > div {
  background-image: url("/assets/images/13-dlamini-eswatini.jpg");
}

.cd-section-lesotho:nth-of-type(14) > div {
  background-color: #f06a59;
}
[data-animation="opacity"] .cd-section-lesotho:nth-of-type(14) > div {
  background-image: url("/assets/images/14-miners-ids.jpg");
}