.carousel {
  position: relative;
  .active {
    opacity: 1;
  }
}
.carousel__container {
  overflow: auto;
  @media only screen and (min-width: 768px)  {
    min-height: 45vh; //Review 
  }
}
.carousel__list {
  margin: 0 auto;
  @media only screen and (min-width: 768px)  {
    position: absolute;
    width: 70%;
    height: auto;
    left: 0;
    right: 0;
  }
}
.carousel__item {
  list-style-type: none;
  height: 200px;
  opacity: 0;
  text-align: center;
  transition: 1s opacity;
  @media only screen and (min-width: 768px)  {
    position: absolute;
    padding: 40px 20px 20px;
    top: 20%;
    width: 25%;
  }
}
.carousel__image {
  background: #c2d4d9;
  border-radius: 50%;
  height: 190px;
  object-fit: cover;
  width: 190px;
}
