.narrative {
  background-color: $dark_desaturated_blue;
  height: 100%;
  position: relative;
  overflow: auto;
  width: 100%;
  &__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    @media only screen and (min-width: 768px)  {
      height: 100vh;
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 100%;
      /* Force Hardware Acceleration */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
  &__content {
    background-color: $dark_desaturated_blue;
    @media only screen and (min-width: 768px)  {
      height: 100vh;
    }
  }
  &__video {
    background-color: $dark_desaturated_blue;
  }
  &__sticky {
    padding: 1em;
    width: 45%;
    -webkit-transition: all 0.2s 0s;
    -moz-transition: all 0.2s 0s;
    transition: all 0.2s 0s;
    @media only screen and (min-width: 768px) {
      position: sticky;
      bottom: 0;
      right: 2em;
    }
  }
  &__floatBox {
    background-color: #ffffff;
    color: #000;
    filter: alpha(opacity=90);
    opacity: 0.9;
    padding: 1em 1.2em;
    text-align: left;
  }

  //ANIMATION

  [data-hijacking="off"] {
    .narrative__item {
      .narrative__content {
        opacity: 0;
      }
    }
  }

  [data-hijacking="on"]  {
    .narrative__item {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      .narrative__content {
        visibility: visible;
        position: absolute;
      }
    }
  }

  [data-animation="opacity"] {
    .narrative__item {
      .narrative__content {
        z-index: 1;
      }
      &:nth-child(1) {
        background-image: url("/assets/images/1-moses-mug-pic.jpg");
      }
      &:nth-child(2) {
        background-image: url("/assets/images/2-moses-daughter.jpg");
      }
      &:nth-child(3) {
        background-image: url("/assets/images/5-moses-boy.jpg");
      }
    }
  }
}
