.landing {
  background: url("/assets/images/0-hlatijhulu-landscape.jpg") no-repeat 0 0/100%;
  color: #fff;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  @media only screen and (min-width: 768px)  {
    min-height: 100vh;
  }
}
